p{
    color: pink;
}

#parrafo2{
    color:green
}

.parrafovioleta{
    color: violet;
}

.textotitulos{
    color:white;
}

.colortitulos{
    background-color:blue;
}

.letra{
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
}

.letra2{
    font-size: xx-large;
    font-style: oblique;
    font-weight: initial;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagengrande{
    height: 500px;
}

.contenedormargen{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid red;
}

